@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@import "tailwindcss";
body {
  font-family: 'Libre Baskerville', serif;
}
.font-spartan {
  font-family: 'League Spartan', sans-serif;
}

.font-baskerville {
  font-family: 'Libre Baskerville', serif;
}
.primary-color{
    background-color: #059669;
}
.secondary-color{
    background-color: #0EA5E9;
}
.terty-color{
background-color: #EF4444;
}
.neutraly-color{
    background-color: #374151;
}
.text-green{
  color: #059669;
}
.text-blue{
  color: #0EA5E9;
}
.text-red{
  color: #EF4444;
}
.text-gray{
  color:#374151;
}


.slide-in-left {
  animation: slideInLeft 0.5s ease-in-out forwards;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


